*{
    /* background-color: red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* h1{
    color: green;
} */

/* h2{
    color: coral;
} */

/* p{ */
    /* color: yellow; */
    /* color: gray;
    background-image: url(./Assets/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.one > h1{
    color: hotpink;
    background-color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}

#Two > h1,
#Two > h2,
#Two > h3{
    color: blue;
}

/* 
#Two > h2{
    color: blue;
}

#Two > h3{
    color: blue;
} */


.Container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* padding-left: 10px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-left: 5px solid black; */
    border: 5px solid red;
    /* margin-top: 30px;
    margin-left: 100px; */
    margin: 10px 30px 50px 70px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color:red;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 1;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: darkorange;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: darksalmon;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: darkmagenta;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: darkorange;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: darkgreen;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: darkmagenta;
}

/* .container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 600px;
    border: 1px solid black;
    align-items: start;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* align-content: space-between; */
/* } */ */

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* position: fixed; */
    /* left: 20px; */
    /* top: 20px; */
}

.para{
    padding: 20px;
    background-color: steelblue;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}

.items{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 100px;
    gap: 10px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 4;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h"
    "sb1 m m sb2"
    "f f f f";
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}